.body {
  font-family: Google Sans, Roboto, arial, sans-serif;
}
h6 {
  text-align: right;
  margin-top: -4%;
}
.weather-border {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #70757a;
  border-radius: 10px;
}
.weather-wrapper {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}
.selsuce-temp strong {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 56px;
  line-height: 110px;
}

.fahrenheit-click {
  text-decoration: none;
  color: rgb(80, 9, 247);
}

.selsuce-temp img {
  margin-bottom: 24px;
}

.pic {
  position: relative;
  margin-left: -44%;
}
#dayName {
  cursor: pointer;
  padding-left: 35px;
  padding-top: 50px;
}

.humidity {
  font-size: smaller;
  color: #70757a;
  list-style-type: none;
  position: relative;
  margin-left: -33%;
  margin-top: 10%;
}
.humidity ::first-letter {
  text-transform: capitalize;
}
.sky {
  font-size: medium;
  color: #70757a;
  list-style-type: none;
  text-align: right;
}
.sky ::first-letter {
  text-transform: capitalize;
}
